/*------------CAROUSEL-----------------*/
.carousel {
  width: 100vw;
  height: 100vh;
  left: 0%;
  margin-top: -50px;
  margin-bottom: 5%;
  overflow: hidden;
  position: relative;
}


/*-----CARDS------*/
.carousel .list .item {
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  left: 70%;
  border-radius: 20px;
  box-shadow: 0 10px 14px rgba(255, 255, 255, 0.6);
  background-position: 50%, 50%;
  background-size: cover;
  transition: 1s;
  
}



.carousel .list .item:nth-child(1)
.carousel .list .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 150%;
  z-index: 150;
}

.carousel .list .item:nth-child(3){
  left: 72%;
}
.carousel .list .item:nth-child(4) {
  left: calc(72% + 200px);
  scale: 1.1;
}
.carousel .list .item:nth-child(n+5) {
  left: calc(72% + 400px);
}


.carousel .list .item:nth-child(2):hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}

.carousel .list .item:nth-child(3):hover {
  scale: 1.2;
  transition: 0.1s ease-in-out;
}

.carousel .list .item:nth-child(4):hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}

.carousel .list .item:nth-child(n+5):hover {
  scale: 1.1;
  transition: 0.1s ease-in-out;
}


.list .item:nth-child(1) .content {
  display: block;
}

.item .name {
  background: transparent;
  color: white;
  font-size: 64px;
  font-weight: bold;
  margin-top: 20%;
  line-height: 1;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
  opacity: 0;
  animation: animate 0.9s ease-in-out 0.2s 1 forwards;
}

.item .des {
  background: transparent;
  color: white;
  margin-top: 40px;
  max-width: 500px;
  margin-bottom: 50px;
  line-height: 1.8;
  font-size: 18px;
  line-height: 1.4;
  white-space: normal;
  word-wrap: break-word;
  margin-left: 5px;
  opacity: 0;
  animation: animate 0.9s ease-in-out 0.4s 1 forwards;
}

.item .btn {
  margin-left: -10px;
  opacity: 0;
  border: none;
  background: transparent;
  animation: animate 0.9s ease-in-out 0.8s 1 forwards;
}

.item .btn button {
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid white;
}

.item .btn button:nth-child(2),
.item .btn button:nth-child(1) {
  margin-right: 25px;
  background: transparent;
  color: rgb(99, 255, 27);
  border: 2px solid white;
  transition: 0.3s;
}



.item .btn button:nth-child(1):hover {
  background-color: rgb(99, 255, 27);
  color: white;
  border-color: rgb(99, 255, 27);
}
.item .btn button:nth-child(2):hover {
  background-color: rgb(99, 255, 27);
  color: white;
  border-color: rgb(99, 255, 27);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
/*------------CAROUSEL-----------------*/

/*--------BOTONES----NEXT-----PREV-----*/

.btns {
  position: absolute;
  left: 50%;
  z-index: 1200;
  width: 100px;
  height: 40px;
  max-width: 100%;
  margin-top: 20%;
  gap: 15px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


.prev,
.next {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(99, 255, 27);
  border: none;
  outline: none;
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background: white;
}

.item.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/*--------BOTONES----NEXT-----PREV-----*/



/*------RESPONSIVE----PAGE----*/

@media screen and (max-width: 999px) {
  .item .content {
    left: 50px;
  }
  .item .name {
    font-size: 70px;
  }
  .item .des {
    font-size: 14px;
  }
}

@media screen and (max-width: 690px) {
  .item  {
    top: 40%;
  }

  .content .name {
    font-size: 45px;
  }

  .item .btn {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    margin-left: -220px;
  }
  .item .btn button {
    text-align: center;
    font-weight: bold;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 11px;
    background: white;
    color: black;
    border: 3px solid rgb(99, 255, 27);
    padding: 1px;
  }
}

/*------RESPONSIVE----PAGE----*/
